<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Confirmation</title>
</head>
<body>
    <div id="confirmation">
        <h3>Votre réservation a bien enregistrée</h3>
        <h3>EcamAir vous souhaite un bon voyage</h3>
        <img src="soleil.jpg" alt="soleil couchant">
    </div>
</body>
</html>