<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réservation</title>
    
    <style>
        body {
        width: 500px;
        height: 300px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        border: solid;
        border-width: 1px;
        border-color: black;
        padding-inline-start: 10px;
    }
    </style>
    
</head>
<body>
    <div id="content">
        <h1>Réservation</h1>
        <form method="post" id="form1" action="/new/destination">
            <div>
                <label for="destination">Destination</label>
                <input type="text" name="destination" required value="<%= destination %>">
            </div>
                    <div>
                <label for="nbseat">Nombre de places</label>
                <input type="number" name="nbseat" id="nbseat" required>
            </div>
            <!-- <div>
                <label for="assurance">Assurance</label>
                <input type="checkbox" name="assurance" id="assurance" >
                </radio>
            </div> -->
            <div>
                <input type="submit" name= "etapeSuivante" value="Etape suivante">
            </div>
        </form>
        <button id="bt_total">Caculer le total</button>
        <div id="total"></div>
    </div>
    <script src="util.js"></script>
</body>
</html>