<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Identification des personnes</title>
</head>
<body>
    <div id="content">
        <h3>Encodage des voyageurs</h3>
        <form action="/new/persons" id="form2" method="post">
            <div>
                <label for="name">Nom</label>
                <input type="text" name="name"  >
            </div>
            <div>
                <label for="age">Age</label>
                <input type="number" name="age"  >
            </div>
            
            <div>
                <input type="submit" value="Etape suivante">
                <input type="submit" value="Annuler la réservation" formaction="/" formmethod="get">
            </div>
        </form>
    </div>
</body>
</html>