<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        body {
        width: 500px;
        height: 300px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        border: solid;
        border-width: 1px;
        border-color: black;
        padding-inline-start: 10px;
    }
    </style>
    <title>Validation</title>
</head>
<body>
    <div id="content">
        <h1>Validation des réservations</h1>

        <div id="destination">
            <h3>Destination :  </h3>
        </div>
        
        <div id="persons">
            <h3>Liste des passagers</h3>
            <ul>
                <% for (let i = 0 ; i < persons.length ; i++) { %> 
                    <li>
                        <%= persons[i].name %> <%= persons[i].age %> 
                    </li>
                    <% } %> 
            </ul>
        </div>
        <form>
            <div>
                <input type="submit" value="Etape suivante" formaction="/confirmation" formmethod="get">
                <input type="submit" value="Annuler la réservation" formaction="/" formmethod="get">
            </div>
        </form>
    </div>
</body>
</html>